/**{
  border: 1px solid red;
}*/

body {
    font-weight: 100;
    padding-top: 20px;
    font-family: 'Orbitron', sans-serif;
}
/* Evgeniya Bautina*/
.super-t {
  font-size: 56px;
  text-shadow: 5px 5px 5px #aaa;
}
/*Projects*/
.col-md-4{
  padding-top: 40px;
}

#list  p {
    font: arial;
    font-size: 14px;
}

.border {
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}
h1{
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 2;
}
h3{
  text-shadow: 3px 3px 3px #aaa;
}
a:link, a:visited, a:hover, a:active{text-decoration: none;}

.col-md-3{
  margin-bottom: 10px; 
}
img{
  width:100%;
}
/* zocial */
[class*="zocial-"]:before {

  font-family: 'zocial', sans-serif;
  font-size: 30px;
  text-shadow: 3px 3px 3px #aaa;
  padding: 30px;
  width: 2em;
}
/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
  font-size: 30px;
  width: 2em;
  padding: 30px;
  text-shadow: 3px 3px 3px #aaa;
}

